## Statistical Testing

In [ ]:
distances_km_1 = pd.read_csv('inputs/distances/distances_km_-1.csv')
distances_km_2 = pd.read_csv('inputs/distances/distances_km_-2.csv')
distances_km_4 = pd.read_csv('inputs/distances/distances_km_-4.csv')

In [ ]:
dist_merge = pd.concat([distances_km_final, distances_km_1, distances_km_2, distances_km_4], axis=1)

In [ ]:
names=['final', 'without_embeddings', 'without_user_id', 'without_timestamps', 'without_nlp_features']

In [ ]:
dist_merge.columns = ['final', 'without_embeddings', '0', 'without_user_id', 'without_nlp_features']

In [ ]:
dist_merge.drop(columns=['0'], inplace=True)
dist_merge.head()

         final  without_embeddings  without_user_id  without_nlp_features
0  2095.552175         4715.551886      4885.437885           2840.502542
1  2394.981473         4693.765782      4860.387458           2892.731925
2  2308.691891         4661.110198      4805.421611           2953.447250
3  4329.094629         4773.160645      4899.811230           3720.192788
4  4394.310630         4880.547774      4995.652313           3888.436867

In [ ]:
dist_merge.isna().sum()

final                   0
without_embeddings      0
without_user_id         0
without_nlp_features    0
dtype: int64

In [ ]:
#px.box(dist_merge, color_discrete_sequence=["indigo"], template='plotly_white')

    Null Hypothesis: The sample distances differences are similar