In [1]:

import pandas as pd
import plotly_express as px
import numpy as np  
import re 
from statistics import mode

In [2]:
coords = pd.read_csv('data/Clusters_Coordinates.csv')

In [3]:
coords.head()

   cluster_id        lat         lng
0           2  34.020789 -118.411907
1           3  31.168893 -100.076888
2           8  29.838495  -95.446487
3           9  40.780709  -73.968542
4          16  40.004866  -75.117998

In [4]:
px.scatter_geo(coords, lat='lat', lon='lng', width=1400, height=900, opacity=.6, scope='north america', projection='stereographic')

In [6]:
px.density_mapbox(coords, lat='lat', lon='lng', center=dict(lat=40, lon=-100), zoom=2.5, mapbox_style='carto-darkmatter', width=1400, height=900)